doctype html
- const {join} = require('path')
html#document-element.main(style = html.style)
  head#document-head
    title#document-title.title Image Preview
    link#document-stylesheet.style(rel = 'stylesheet' type = 'text/css' href = join(__dirname, 'lib', 'preview.css'))
  body#document-body.main
    h1.title.header Preview
    table#main-table.main
      tbody.main
        tr.title.odd(style = {background: 'font-weight: bold'})
          td.index Index
          td.file File
          td.view View
        each item, index in list
          tr.member(class = index & 1 ? 'odd' : 'even')
            td.index
              | #{index}
            td.file
              a(href = item.file) #{item.name}
            td.view
              img(src = item.file)
