doctype xml
- const {width, height, stroke, fill} = local
- const W3C = 'http://www.w3.org/'
- const FONTSIZE = 30
- const MESSAGE = 'Hello, World!!'
svg(
  xmlns = W3C + '2000/svg'
  xlink = W3C + '1999/xlink'
  width = width + 1
  height = height + 1
)
  rect(
    x = 1
    y = 1
    width = width
    height = height
    stroke = stroke
    fill = fill
  )
  text(
    x = width >> 3
    y = height >> 1
    stroke = stroke
    fill = fill
    font-size = FONTSIZE
    font-family = 'monospace'
  )
    | #{MESSAGE}
