doctype xml
- const W3C = 'http://www.w3.org/'
- const WIDTH = 320
- const HEIGHT = 64
- const FONTSIZE = 50
- const BORDERSIZE = 2
svg(
  xmlns = W3C + '2000/svg'
  xlink = W3C + '1999/xlink'
  width = WIDTH
  height = HEIGHT
)
  rect(
    x = BORDERSIZE >> 1
    y = BORDERSIZE >> 1
    width = WIDTH - BORDERSIZE
    height = HEIGHT - BORDERSIZE
    stroke = color
    fill = 'transparent'
    stroke-width = BORDERSIZE
  )
  text(
    x = WIDTH >> 1
    y = HEIGHT >> 1
    alignment-baseline = 'central'
    text-anchor = 'middle'
    font-size = FONTSIZE
    stroke = color
    fill = 'transparent'
    stroke-width = BORDERSIZE
    style = {
      'text-transform': 'uppercase',
      'font-family': 'Seogoe UI, Corbel, DejaVu Sans, Calibri, Vera, Roman, Tahoma, serif'
    }
  )
    | #{text}
