doctype xml
- const {borderColor, text} = local
- const FONTFAMILY = require('../dev-lib/font-family.js')
- const W3C = 'http://www.w3.org/'
- const RATIO = 2 / 3
- const WIDTH = 321 * RATIO
- const HEIGHT = 64 * RATIO
- const FONTSIZE = 50 * RATIO
- const BORDERSIZE = 1
- const BORDERRADIUS = Math.min(WIDTH, HEIGHT) / 4
svg(
  xmlns = W3C + '2000/svg'
  xlink = W3C + '1999/xlink'
  width = WIDTH
  height = HEIGHT
)
  rect(
    x = BORDERSIZE / 2
    y = BORDERSIZE / 2
    width = WIDTH - BORDERSIZE
    height = HEIGHT - BORDERSIZE
    stroke = borderColor
    fill = 'transparent'
    stroke-width = BORDERSIZE
    rx = BORDERRADIUS
    ry = BORDERRADIUS
  )
  text(
    x = WIDTH / 2
    y = HEIGHT / 2
    alignment-baseline = 'central'
    text-anchor = 'middle'
    font-size = FONTSIZE
    stroke = borderColor
    fill = 'transparent'
    stroke-width = BORDERSIZE
    style = {
      'text-transform': 'uppercase',
      'font-family': FONTFAMILY
    }
  )
    | #{text}
